nav {
    width: 100%;
    margin-top: 2px;
}

nav>p {
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 0.75rem;
}


/* Breakpoints based on device types and common screen sizes */

/* Mobile First approach */
@media screen and (width >= 320px) {}

@media screen and (width >= 375px) {
    nav>p {
        font-size: 1rem;
    }
}

@media screen and (width >= 425px) {
    /* Large smartphones (iPhone Pro Max, Samsung) */


}

@media screen and (width >= 768px) {
    nav>p {
        font-size: 1.25rem;
    }
}

@media screen and (width >= 1024px) {
    nav>p {
        font-size: 1.5rem;
    }
}

@media screen and (width >= 1440px) {
    /* Large laptops/desktops */
}

@media screen and (width >= 1920px) {
    /* Extra large screens, TV */
}