/* Variables */
:root {
    --black: rgb(0 0 0);
    --transition-time: 1s;
    --container-width-mobile: 95%;
    --container-width-tablet: 90%;
    --container-width-desktop: 70%;
}

/* Base page layout */
.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    opacity: 0;
    overflow: hidden;
    transition: var(--transition-time);
}

/* Main content containers */
.page-main {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.components,
.components-blog,
.page-main {
    background-color: var(--black);
    min-height: 100vh;
}

/* Content grids */
.main-blogs {
    min-height: 100vh;
    overflow-y: scroll;
    display: grid;
    align-content: space-between;
    background-color: var(--black);
    margin: 0 auto;
    height: 100%;
    width: var(--container-width-mobile);
}

.main {
    min-height: 100vh;
    overflow-y: scroll;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--black);
    margin: 0 auto;
    height: 100%;
    width: var(--container-width-mobile);

}

.blog-top {
    display: grid;
    gap: 20px;
}

/* Tablet and above */
@media screen and (width >= 768px) {
    .page,
    .page-main,
    .main,
    .main-blogs {
        overflow-y: scroll;
    }

    .main,
    .main-blogs {
        overflow-y: scroll;
        transition: var(--transition-time);
    }
}

/* Desktop */
@media screen and (width >= 1024px) {
    .main {
        width: var(--container-width-desktop);
    }

    .main-blogs {
        width: var(--container-width-desktop);

    }
}