@font-face {
    font-family: "european_teletextregular";
    src: url("/font/europeanteletext-webfont.woff2") format("woff2"),
        url("/font/europeanteletext-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    letter-spacing: 0;
}

@font-face {
    font-family: "european_teletextregular";
    src: url("/font/europeanteletext-webfont.woff2") format("woff2"),
        url("/font/europeanteletext-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    letter-spacing: 0;
}

@font-face {
    font-family: modesevenregular;
    src: url("/font2/mode7gx3-webfont.woff2") format("woff2"),
        url("/font2/mode7gx3-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    letter-spacing: 0;
}

@font-face {
    font-family: "Tele2";
    src: url("/font2/mode7gx0-webfont.woff2") format("woff2"),
        url("/font2/mode7gx0-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    letter-spacing: 0;
}