*{
  
  font-family: 'VT323', monospace;
  margin: 0;
  
}

.img-container{
  
  width: 100%;
  position: absolute;
  z-index: 1;
  height: 100%;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}


.tv-main >img{
  cursor: pointer;
}
.tv-main{
  box-sizing: border-box;
  border-color: white;
  border-style: solid;
  border-width: 20vh 20vw ;
  
 
  transform:scale(1);
 object-fit: contain;
 background-image: url("https://raw.githubusercontent.com/paluras/new/master/src/assets/7vqd.gif");
 background-size: 90% 90%;
 background-repeat: no-repeat ;
 background-position: center;
}
.tv-main:hover{
  
  transform:scale(1.0505);
  transition:  1s;
  background-image: url("https://raw.githubusercontent.com/paluras/new/master/src/assets/7vqd.gif");
  
}
.tv-main:not(:hover) {  transform:scale(1);
  transition:  1s;
  background-image: url("https://raw.githubusercontent.com/paluras/new/master/src/assets/7vqd.gif");} 

.tv-main-2{
  box-sizing: border-box;
  border-color: white;
  border-style: solid;
  border-width: 30vh 30vw ;

 
  rotate: -15deg;
  transform: scale(15);
  transition: ease-in 3s ;
  pointer-events: none;
  object-fit: contain;
  
}


.page{
  
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  width: 100%;
  height: 100vh;
  transition: 2s;
  opacity: 0;
  overflow: hidden;
  
}

.page-main{
  display: flex;
  flex-direction: column;
  transition: 2s;
  width: 100%;
  height: 100vh;
  background-color: black;
}

.components{
  
  background-color: black;
}

.components-blog{
  background-color: black;
}

.main-blogs{
  display: grid;
  align-content: space-between;
  background-color: rgb(0, 0, 0);
  width: 80%;
  margin: auto;
  height: 100vh;
}


.components::-webkit-scrollbar{
  width: 0px;
  height: 0px;
  
 }
nav{
  width: 100%;
  margin: auto;
}

 nav > p{
  display: flex;
  justify-content: space-between;
  font-size:32px;
  color :white;
 }

 .main{
  display: grid;
  align-content: space-between;
  width: 80%;
  margin: auto;
  height: 100%;
  background-color: black;
  
  
 }

ul{
  list-style: none;
}



li{
  cursor: pointer;
}
li:active{
  background-color: blue;
  color: white;
}
li:hover{
  background-color: blue;
  color: white;
}


 .container{
  display: flex;
  position: relative;
 }

 .container-left{
  display: flex;
  align-items: center;
  color: blue;
  background-color: yellow;
  width:44%;
  
  font-size: 2.5rem;
 }
 .container-left > ul  {
  width: 100%;
  
 }

 .container-right{
  display: flex;
  align-items: center;
  font-size: 2rem;
  position: absolute;
  right: 0px;
  top:15px;
  color: white;
  background-color: blue;
  margin: auto;
  
  width: 55%;
  height: 100%;
  padding: 0px 20px;
 }

 

 .logo {
  image-rendering: pixelated;
  width: 90%;
  height: 90%;
  
 

 }

 .container-lower{
  display: flex;
  flex-direction: column;
  margin-top:3%;
  
  color: white;
  font-size: 2rem;
 }

 .colored-box{
  background-color: red;
  
  padding: 20px 0px 0px 20px;
 }

 .line-border{
  display: flex;
  
  justify-content: center;
  align-items: center;
 }

 .line-border > p{
  padding: 0 20px;
 }
 .line{
  background-color: white;
  width: 100%;
  height: 2vh;
 }

 footer{
  
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  height: 10vh;
  
 }

 .about{
  display: flex;
  align-items: center;
  gap: 10px;
  color: red;
 }

 .red{
  height: 20px;
  width:20px;
  background-color: red;
 }
 .contact{
  display: flex;
  align-items: center;
  gap: 10px;
  color: greenyellow;
 }

 .green{
  height: 20px;
  width:20px;
  background-color: greenyellow;
 }

 .news{
  display: flex;
  align-items: center;
  gap: 10px;
  color: yellow;
 }

 .yellow{
  height: 20px;
  width:20px;
  background-color: yellow;
 }

 .sport{
  display: flex;
  align-items: center;
  gap: 10px;
  color: rgb(100, 250, 237);
 }

.blue{
  height: 20px;
  width:20px;
  background-color: rgb(100, 250, 237);
 }


.about > a > p{
  color: red;
}




a{
  text-decoration: none;
  color: white;
}
a:visited{
  color: white;
}


 .row {
  display: table;
  color: white;
}

.title, .dots, .value {
  display: table-cell;
}

.title, .value {
  white-space: nowrap;
}

.table {
  width: 100%;
  margin: 10px;
}

.dots {
  border-bottom: 5px dotted rgb(255, 255, 255);
  width: 100%;
}

.container-main{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3vw;
  
}
.container-tittle{
  font-size: 4rem;
  color: #00bce8;
  padding-top: 30px;
}

.container-para{
  color: rgb(255, 255, 255);
  font-size: 2rem;
}

.container-para > .title > a{
    color: #ff68b4;
    font-size: 2.5rem;
}


.main-blogs > nav > p{
  color: rgb(255, 255, 255);
}



.container-blog{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 75vh;
}

.container-blog.text{
  width: 50%;
  font-size: 1.5rem;
  color: white;
}

.container-blog.media{
  width: 50%;
}

iframe{
  
  border : 10px solid #00bce8;
  box-shadow: 5px 5px 10px;
  
}



@media screen and (max-width: 768px) {
  .page-main{
    background-color: black;
  }

  li{
    font-size: 2rem;
  }

  .title{
     font-size: 1.5rem;
  }

  .main{
    width: 90%;
    height: 100vh;
  }

  p{
    font-size: 1.5rem;
  }
  .value{
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 425px){
  nav > p{
    font-size: 1rem;
  }
  footer > div > p{
    font-size: 1.5rem;
  }
  footer{
    height: 30px;
  }

  .box{
    width: 10px;
    height: 10px;
  }
  
  .tv-main{
    width: 100%;
  }

  .tv-main-2{
    width: 100%;
  }
  
  
  .container{
    display: flex;
  }
  .container-left{
    width: 50%;
    justify-content: start;
  }

  .container-left > ul{
    padding-left: 10px ;
  }

  .container-right{
    position: static;
    width: 50%;
    padding: 0;
  }

  .main{
    width: 100%;
  }

  p{
    text-align: center;
  }

  .colored-box{
    padding: 0px;
  }
}

