*{
  
  font-family: 'VT323', monospace , sans-serif;
  margin: 0;
  
}




.img-container{
  
  width: 100%;
  position: absolute;
  z-index: 1;
  height: 100%;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}


.tv-main >img{
  cursor: pointer;
}
.tv-main{
  box-sizing: border-box;
  border-color: white;
  border-style: solid;
  border-width: 20vh 20vw ;
  
 
  transform:scale(1);
 object-fit: contain;
 background-image: url("https://raw.githubusercontent.com/paluras/new/master/src/assets/7vqd.gif");
 background-size: 90% 90%;
 background-repeat: no-repeat ;
 background-position: center;
}
.tv-main:hover{
  
  transform:scale(1.0505);
  transition:  1s;
  background-image: url("https://raw.githubusercontent.com/paluras/new/master/src/assets/7vqd.gif");
  
}
.tv-main:not(:hover) {  transform:scale(1);
  transition:  1s;
  background-image: url("https://raw.githubusercontent.com/paluras/new/master/src/assets/7vqd.gif");} 

.tv-main-2{
  box-sizing: border-box;
  border-color: white;
  border-style: solid;
  border-width: 30vh 30vw ;

 
  rotate: -15deg;
  transform: scale(15);
  transition: ease-in 3s ;
  pointer-events: none;
  object-fit: contain;
  
}


.page{
  
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  width: 100%;
  height: 100vh;
  transition: 2s;
  opacity: 0;
  overflow: hidden;
  
}

.page-main{
  display: flex;
  flex-direction: column;
  transition: 2s;
  width: 100%;
  height: 100vh;
  background-color: black;
}

.components{
  
  background-color: black;
}

.components-blog{
  background-color: black;
}

.main-blogs{
  background-color: rgb(0, 0, 0);
  width: 80%;
  margin: auto;
  height: 100vh;
}


.components::-webkit-scrollbar{
  width: 0px;
  height: 0px;
  
 }
nav{
  width: 100%;
  margin: auto;
}

 nav > p{
  display: flex;
  justify-content: space-between;
  font-size:32px;
  color :white;
 }

 .main{
  width: 80%;
  margin: auto;
  height: 100vh;
  background-color: black;
  
 }

ul{
  list-style: none;
}



li{
  cursor: pointer;
}
li:active{
  background-color: blue;
  color: white;
}
li:hover{
  background-color: blue;
  color: white;
}


 .container{
  display: flex;
  position: relative;
 }

 .container-left{
  display: flex;
  align-items: center;
  color: blue;
  background-color: yellow;
  width:44%;
  height: 33%;
  font-size: 2.5rem;
 }
 .container-left > ul  {
  width: 100%;
 }

 .container-right{
  display: flex;
  align-items: center;
  font-size: 2rem;
  position: absolute;
  right: 0px;
  top:15px;
  color: white;
  background-color: blue;
  margin: auto;
  
  width: 55%;
  height: 100%;
  padding: 0px 20px;
 }

 

 .logo {
  image-rendering: pixelated;
  width: 80%;
  height: 20%;
  margin: auto ;
 }

 .container-lower{
  margin-top:3%;
 
  overflow: hidden;
  
  color: white;
  font-size: 2rem;
 }

 .colored-box{
  background-color: red;
  
  padding: 20px 0px 0px 20px;
 }

 .line-border{
  display: flex;
  height: 3%;
  justify-content: center;
  align-items: center;
 }

 .line-border > p{
  padding: 0 20px;
 }
 .line{
  background-color: white;
  width: 100%;
  height: 2vh;
 }

 footer{
  position: absolute;
  bottom: 0;
  width: 80%;
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  height: 10vh;
  
 }

 .about{
  display: flex;
  align-items: center;
  gap: 10px;
  color: red;
 }

 .box-red{
  height: 20px;
  width:20px;
  background-color: red;
 }
 .contact{
  display: flex;
  align-items: center;
  gap: 10px;
  color: greenyellow;
 }

 .box-green{
  height: 20px;
  width:20px;
  background-color: greenyellow;
 }

 .news{
  display: flex;
  align-items: center;
  gap: 10px;
  color: yellow;
 }

 .box-yellow{
  height: 20px;
  width:20px;
  background-color: yellow;
 }

 .sport{
  display: flex;
  align-items: center;
  gap: 10px;
  color: rgb(100, 250, 237);
 }

 .box-blue{
  height: 20px;
  width:20px;
  background-color: rgb(100, 250, 237);
 }


.about > a > p{
  color: red;
}




a{
  text-decoration: none;
  color: white;
}
a:visited{
  color: white;
}


 .row {
  display: table;
  color: white;
}

.title, .dots, .value {
  display: table-cell;
}

.title, .value {
  white-space: nowrap;
}

.table {
  width: 100%;
  margin: 10px;
}

.dots {
  border-bottom: 5px dotted rgb(255, 255, 255);
  width: 100%;
}

.container-main{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3vw;
}
.container-tittle{
  font-size: 4rem;
  color: #00bce8;
  padding-top: 30px;
}

.container-para{
  color: rgb(250, 250, 250);
  font-size: 2rem;
}

.container-para > .title > a{
    color: #ff68b4;
    font-size: 2.5rem;
}


.main-blogs > nav > p{
  color: rgb(255, 255, 255);
}



.container-blog{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 75vh;
}

.container-blog.text{
  width: 50%;
  font-size: 1.5rem;
  color: white;
}

.container-blog.media{
  width: 50%;
}

iframe{
  
  border : 10px solid #00bce8;
  box-shadow: 5px 5px 10px;
  
}













@keyframes textShadow {
  0% {
    text-shadow: 0.4389924193300864px 0 1px rgba(0,30,255,0.5), -0.4389924193300864px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  100% {
    text-shadow: 2.6208764473832513px 0 1px rgba(0,30,255,0.5), -2.6208764473832513px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
}
.crt::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: 2;
  pointer-events: none;
}
.crt::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
 
}
.crt {
}